<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <form method="POST">

        <button type="submit"> submit </button>
    </form>

    <table style="background-color:black">
    {% for i in param1 %}
    <tr style="background-color:white">
        {% for j in i%}
        <td> {{j}} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

</body>
</html>
